annotated-doc==0.0.4
asgiref==3.11.1
black==26.3.0
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
coverage==7.13.4
coveralls==4.1.0
Django==5.2.11
flake8==7.3.0
gunicorn==25.1.0
idna==3.11
markdown-it-py==4.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy_extensions==1.1.0
packaging==26.0
pathspec==1.0.4
platformdirs==4.9.4
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pytokens==0.4.1
requests==2.32.5
rich==14.3.3
shellingham==1.5.4
sqlparse==0.5.5
typer==0.24.1
urllib3==2.6.3
